@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-black-58646a6b80d5a.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-thin-58646e9b26e8b.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
  }

@font-face {
    font-family: 'SF UI Display Thick';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Light';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Thin';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'SF UI Display Semibold', sans-serif;
}

.heading-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'SF UI Display', sans-serif;
    color: grey;
}

.heading-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 800;
}

.heading-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'SF UI Display', sans-serif;
color: grey;
}

.card-title {
    font-family: 'SF UI Display', sans-serif;
    font-weight: 800;

}

.card-description {
    font-family: 'SF UI Display', sans-serif;
    color: grey;
  }

  .row-title {
    font-family: 'SF UI Display Semibold', sans-serif;
    margin: 2px 0;
  }

  .row-description {
    font-family: 'SF UI Display Ultralight', sans-serif;
    margin-bottom: 0;
  }

  .form-group {
    font-family: 'SF UI Display', sans-serif;
  }