@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-black-58646a6b80d5a.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-thin-58646e9b26e8b.woff') format('woff'),
         url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
  }

@font-face {
    font-family: 'SF UI Display Thick';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Light';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Thin';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    src: local('SF UI Display'), url('../src/assets/sf-ui-display-cufonfonts-webfont/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'SF UI Display Semibold', sans-serif;
}

.heading-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'SF UI Display', sans-serif;
    color: grey;
}   

.heading-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 800;
}

.heading-description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'SF UI Display', sans-serif;
color: grey;
}

.card-title {
    font-family: 'SF UI Display', sans-serif;
    font-weight: 800;

}

.card-description {
    font-family: 'SF UI Display', sans-serif;
    color: grey;
  }

  .row-title {
    font-family: 'SF UI Display', sans-serif;
    font-weight: 800;
    margin: 2px 0;
  }

  .row-description {
    font-family: 'SF UI Display', sans-serif;
    margin: 0;
    font-weight: 500;
  }

  .form-group {
    font-family: 'SF UI Display', sans-serif;
  }

  .profile-description {
    font-family: 'SF UI Display', sans-serif;
    margin: 0;
  }

  .pill-button{
    color: #dc3545;
    border: 1px solid #fff;
    background: #fff;
    border-radius:10px ;
    padding: 13px 20px;
    /* box-shadow: 0 2px 8px 0 rgba(220, 53, 69); */
    text-align: center;
    font-weight: bold;
    transition: width 2s;
    font-size: 16px;
    font-family: 'SF UI Display Bold', sans-serif;

}

.success h1 {
  color: #000; 
  font-family: 'SF UI Display Bold', sans-serif;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}
.success p {
  color: #404F5E;
  font-family: 'SF UI Display Bold', sans-serif;
  font-size:18px;
  margin: 0;
}

.headings h2 {
    font-size: 25px;
    font-family: 'SF UI Display ', sans-serif; 
    margin: 1vh 0;
}

.headings p {
    text-align: justify;
    font-family: 'SF UI Display ', sans-serif;
    margin: 1vh 0;
}

.checkmark {
    color: #9ABC66;
      font-size: 100px;
      line-height: 200px;
      margin-left:-15px;
}

.form-control {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-family: 'SF UI Display ', sans-serif; /* Apply SF UI Display font */
  }
  
  .answerCard {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    margin-top: 10px; /* Add some space between the label and input */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .textCard {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    margin-top: 10px; /* Add some space between the label and input */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    width: 90%;
  }
  
  .answerCard:focus {
    outline: none;
  }